@charset "UTF-8";

:root{
    --cor0: #ffffff;
    --cor1: #B5FFFD;
    --cor2: #1E8F8C;
    --cor3: #C27AA2;
    --cor4: #901E78;
    --cor5: #3A1F34;
    --cor6: #8F7B1E;

    --fonte-padrão: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    }

    section#login {
        width: 75vw;
        height: 300px;
    }

    section#login > div#imagem {
        float: left;
        width: 45%;
        height: 100%;
        background: var(--cor0) url(../imagens/logo-flux-M.png) no-repeat;
    }

    section#login > div#formulario {
        float: right;
        width: 55%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1em;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    }

    section#login {
        width: 750px;
        height: 375px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background: var(--cor0) url(../imagens/logo-flux-G.png) no-repeat;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 1.8em;
        margin: 25px;
    }
}