@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #1E8F8C, #901E78);
    }

    #cadastro-clientes {
        width: 75vw;
    }

    div > h1 {
        font-size: 1.8rem;
    }

    input[type=submit] {
        width: 25%;
    }
}

@media screen and (min-width:992px) {
    body {
        background-image: linear-gradient(to top, #1E8F8C, #901E78);
    }

    #cadastro-clientes {
        width: 750px;

    }

    div > h1 {
        font-size: 2rem;
    }

    input[type=submit] {
        width: 150px;
    }
}